:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196F3;
  --font-color: #212121;
}

body {
  width: 1600px;
  font-family: var(--main-font);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*===========COMPONENTS===========*/
button {
   cursor: pointer;
}

/*===========MENU===========*/
 .menu {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}
.logo-header {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: var(--main-color);
  margin-right: 94px;
}
.logo-header > span {
  color: var(--font-color);
}
/**Navigation*/
.navigation {
  position: absolute;
  display: flex;
  width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.navigation-list {
    display: flex;
}
.navigation-list-item,
.contact-list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.333;
  }

.navigation-link {
  margin-right: 46px;
  color: var(--font-color);
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--main-color);
}

.contact-list {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.contact-list a {
  font-style: normal;
  color: #757575;
 }
  /*=========== END MENU===========*/


/* =========== MAIN PAGE HEADER===========*/
.header {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.header-tittle {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  bottom: 280px;

  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.header button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;

  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
/* =========== END MAIN PAGE HEADER===========*/

/* =========== MAIN SECTION MAIN PAGE===========*/
/*our strengths*/
.list-strengths {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.list-strengths th {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}
.list-strengths td {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: #757575;
}

.offer {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 889px;
}
h2 {
font-family: var(--main-font);
font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
 }
.offer-list {
  display: flex;
}
.offer li {
  width: 370px;
  height: 294px;
  padding-right: 30px;
}

.team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}
.team-list {
  display: flex;
  width: 270px;
  height: 368px;
}
.team-list-item {
  background: #ffffff;

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item span {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);
}
.team-list-item figcaption {
  text-align: center;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
}

/*footer*/
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}

footer a {
  color: rgba(255, 255, 255, 0.6);
  }
.logo-footer {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 60px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  
  letter-spacing: 0.03em;

  color: var(--main-color);
  margin-right: 94px;
}
.logo-footer > span {
  color: white;
}
.footer-cointainer {
  margin-left: 215px;
}

.contact-footer-mail:hover,
.contact-footer-mail:focus,
.contact-footer-phone:hover,
.contact-footer-phone:focus {
  color: var(--main-color);
}
.contact-footer {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 141px;
  }

.adres-footer {
  position: absolute;
  width: 246px;
  height: 21px;
  top: 111px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*=========== PORTFOLIO ===========*/

.section-portfolio {
  width: 1170px;
  height: 1360px;
  margin-top: 174px;
  }
/*Filter buttons*/
.filters {
  margin-top: 174px;
}
.filters-buttons {
  display: flex;
  }

.filters-button-all {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 510px;
}
.filter-buttons-pages {
  position: absolute;
  width: 93px;
  height: 38px;
  left: 639px;
}
.filter-buttons-aplications {
  position: absolute;
  width: 114px;
  height: 38px;
  left: 740px;
}
.filter-buttons-design {
  position: absolute;
  width: 91px;
  height: 38px;
  left: 862px;
}
.filter-buttons-marketing {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 961px;
}
.filters-buttons button:hover,
.filters-buttons button:focus,
.filters-buttons button {
 font-family: var(--main-font);
 border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.filters-buttons button {
  background: #f5f4fa;
  margin-top: 94px;
}
.filters-buttons button:hover,
.filters-buttons button:focus {
  background: var(--main-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
   
  color: #ffffff;
 }
/*Projects*/
.projects-list {
  display: flex;
  align-items: center;
  margin-top: 182px;
}
.projects-list span {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-color);
}
.projects-list-item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  margin-right: 30px;
}
.projects-list-item figcaption {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 30px;
  margin-left: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=========== END PORTFOLIO ===========*/
